@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

@mixin container {
  display: flex;
  align-items: center;
  gap: 8px;
  height: max-content;
  padding: 12px 16px;
  width: max-content;
  min-width: 168px;
  max-width: 288px;
  border-radius: 8px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(16px);
    opacity: 0;
  }
}

.start {
  @include container;
  animation: fadeIn 0.5s ease forwards;
}

.end {
  @include container;
  animation: fadeOut 0.5s ease forwards;
}

.black {
  background-color: $neutral-800;
}

.success {
  background-color: $green-700;
}

.error {
  background-color: $red-600;
}

.warning {
  background-color: $warning-700;
}

.title {
  @include text-sm-regular;
  color: $neutral-00;
  padding: 0;
  margin: 0;
}

.infoIcon {
  @include icon('@assets/icons/info-circle-linear.svg');
  background-color: $neutral-00;
}

.successIcon {
  @include icon('@assets/icons/check-circle-bold.svg');
  background-color: $neutral-00;
}

.errorIcon {
  @include icon('@assets/icons/error-circle-bold.svg');
  background-color: $neutral-00;
}

.warningIcon {
  @include icon('@assets/icons/danger-warning-triangle-bold.svg');
  background-color: $neutral-00;
}
