@use '@styles/icons' as *;
@use '@styles/variables' as *;

.backBtn {
  position: fixed;
  top: 80px;
  margin-right: 820px;
}

.icon {
  @include icon('@assets/icons/arrow-left-outline.svg');
}

.key {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 610px;
  max-width: 680px;
  gap: 24px;
}

.publicKeyIcon {
  @include icon('@assets/icons/key-outline.svg');
  background-color: $neutral-600;
}

.privateKeyIcon {
  @include icon('@assets/icons/lock-keyhole-outline.svg');
  background-color: $neutral-600;
}

.seedPhraseIcon {
  @include icon('@assets/icons/password-seed-phrase-input-outline.svg');
  background-color: $neutral-600;
}

.derivationPassIcon {
  @include icon('@assets/icons/routing-derivation-path-outline.svg');
  background-color: $neutral-600;
}
