@use '@styles/icons' as *;
@use '@styles/variables' as *;

.container{
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.icon {
  @include icon('@assets/icons/checkmark-outline.svg');
  width: 16px;
  height: 16px;
  background-color: $neutral-600;
}
