.container {
  width: calc(100% - 10px);
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  border: 1px solid #676767;
  border-radius: 5px;
  background-color: #8b6ca7;
  color: #ffffff;
}
.container:hover {
  background-color: #bb92e4;
  border-color: #979797;
  cursor: pointer;
}

.active {
  background-color: #449e54;
}
.active:hover {
  background-color: #449e54;
}
