.container{
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32px 34px 24px 145px 155px 64px 22px 40px;
    grid-template-areas:
    '.'
    'a'
    '.'
    'b'
    'c'
    'e'
    '.'
    'f';
}

.privateWrapper{
    grid-area: b;
}

.buttonWrapper{
    grid-area: f;
    display: flex;
    flex-direction: column;
}

.title{
    grid-area: a;
    font-size: 14px;
    font-weight: 400;
    color: #153325;
}