.label {
    display: flex;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    background-color: #6851f4;
    padding: 3px 10px;
    font-size: 12px;
    margin-right: 10px;
    text-transform: uppercase;
}
.icon {
    margin-right: 7px;
}