@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.container {
  position: relative;
  height: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  @include text-sm-regular;
  align-content: center;
  color: $neutral-700;
  margin: 0 0 10px 0;
}

@mixin wrapper($border-color) {
  border: 1px solid $border-color;
  border-radius: 8px;
  background-color: $neutral-50;
}

@mixin input {
  @include text-mg-regular;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 24px;
  min-height: 24px;
  width: calc(100% - 73px);
  border-radius: 9px;
  background: $neutral-50;
  border: none;
  outline: none;
  padding: 8px 60px 8px 12px;
}

.wrapper {
  @include wrapper($neutral-200);
  &:hover {
    border-color: $neutral-400;
  }
  &:focus-within {
    border-color: $neutral-500;
  }
}

.wrapperDisabled {
  @include wrapper($neutral-300);
  background: $neutral-200;
}

.input {
  @include input;
  &::placeholder {
    color: $neutral-400;
  }
  &:disabled {
    background: $neutral-200;
    color: $neutral-600;
  }
}

.wrapperError {
  @include wrapper($error-600);
}

.errorInput {
  @include input;
  background: $neutral-50;
}

.buttonWrapper {
  position: absolute;
  width: 48px;
  display: flex;
  justify-content: right;
  right: 12px;
  top: 43px;
  gap: 8px;
}

.button {
  width: 16px;
  height: 16px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  &:disabled {
    cursor: default;
  }
  :hover {
    .icon {
      fill: $neutral-800;
    }
  }
}

.icon {
  fill: $neutral-600;
}

.error {
  @include text-xs-regular;
  padding: 0;
  margin: 8px 0 0 0;
  color: $error-600;
}
