@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.presetWrapper {
  grid-area: e;
  min-height: 320px; // same as add manually form
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.buttonWrapper {
  grid-area: f;
  justify-self: center;
  display: flex;
  gap: 8px;
}

.backIcon {
  @include icon('@assets/icons/arrow-left-outline.svg');
}