@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.feedbackBtn {
  border: none;
}

.btnText {
  font-size: 13px;
  font-weight: 400;
}

.modal {
  gap: 8px;
  padding: 24px 0;
}
@media (max-height: 760px) {
  .modal {
    max-height: 90vh;
  }
  .container {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: $neutral-400;
      border-radius: 5px;
    }
  }
}

.header {
  padding: 0 24px 16px 24px;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 8px;
  padding: 0 24px;
}

.title {
  @include text-xlg-regular;
  text-align: center;
}

.textareaContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.message {
  @include text-sm-regular;
  padding: 2px;
  color: $neutral-700;
}
