@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.radioButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioContainer {
  display: flex;
  position: relative;

  input {
    opacity: 0;
    position: absolute;

    &:focus + .customRadio {
      box-shadow: 0 0 0 4px $accent-100;
      border-color: $accent-600;
    }

    &:checked + .customRadio {
      background: $accent-600;
      border-color: $accent-600;

      &:hover {
        background: $accent-700;
        border-color: $accent-700;
      }

      &::after {
        display: block;
      }
    }

    &:disabled + .customRadio {
      cursor: default;
      background: $neutral-50;
      border-color: $neutral-300;

      &:hover {
        border-color: $neutral-300;
      }
    }

    &:disabled:checked + .customRadio {
      background: $accent-100;
      border-color: $accent-100;
    }
  }

  .customRadio {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border: 1px solid $neutral-300;
    border-radius: 50%;
    position: relative;
    user-select: none;
    &:hover {
      border-color: $accent-600;
    }

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      background: $neutral-50;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }
}

.enabledText,
.disabledText {
  @include text-mg-regular;
}

.enabledText {
  color: $neutral-700;
  cursor: pointer;
}

.disabledText {
  color: $neutral-400;
}
