@use '@styles/icons' as *;
@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.addAction {
  width: calc(100%);
  padding: 16px;
  border: 1px solid $neutral-200;
  border-radius: 16px;
  box-sizing: border-box;
}

.labelWrapper {
  margin-bottom: 16px;
}

.addActionIcon {
  @include icon('@assets/icons/add-circle-linear.svg');
  background-color: $accent-600;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.column {
  display: flex;
  width: 184px;
  flex-direction: column;
  gap: 8px;
}

.iconCreateAccount {
  @include icon('@assets/icons/add-circle-linear.svg');
}

.iconAddKey {
  @include icon('@assets/icons/key-outline.svg');
}

.iconTransfer {
  @include icon('@assets/icons/transfer-outline.svg');
}

.iconDeployContract {
  @include icon('@assets/icons/deploy-contract-linear.svg');
}

.iconFunctionCall {
  @include icon('@assets/icons/function-call-outline.svg');
}

.iconDeleteKey {
  @include icon('@assets/icons/key-outline.svg');
}

.iconDeleteAccount {
  @include icon('@assets/icons/minus-circle-linear.svg');
}
