@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.blockTarget {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: calc(100% - 32px);
  border: 1px solid $neutral-200;
  border-radius: 16px;
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.tooltipText {
  @include text-mg-medium;
  color: $neutral-800;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  gap: 16px;
  padding: 4px 2px;
}

.content{
  margin-top: 16px;
}