.container {
  display: flex;
  flex-direction: column;
  min-height: 66px;
  margin: 28px 32px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.label {
  margin: 0 0 10px 0;
  color: var(--Text-Dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.name {
  width: 100%;
  max-width: 650px;
  word-break: break-word;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonWrapper {
  display: flex;
}
