@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

@mixin item($pointer) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 16px;
  border: 1px solid $neutral-200;
  border-radius: 8px;
  background-color: $neutral-00;
  cursor: $pointer;
}
.item {
  @include item(default);
}

.itemPointer {
  @include item(pointer);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.subtitle {
  @include text-sm-medium;
  color: $neutral-800;
  padding: 0;
  margin: 0;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tooltip {
  display: flex;
  justify-content: center;
}

.icon {
  @include icon('@assets/icons/check-circle-bold.svg');
  background-color: $green-700;
}

.copy {
  display: flex;
  justify-content: center;
  padding: 4px;
}
