.icon {
  fill: var(--Color-Grey-100);
  width: 13px;
  height: 12px;
}

.container {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.button {
  width: 20px;
  height: 16px;
  border: none;
  background: none;
}

.button:hover {
  cursor: pointer;
  .icon {
    fill: var(--Color-Olive-400);
  }
}

.focused {
  cursor: pointer;
  .icon {
    fill: var(--Color-Olive-400);
  }
}
