:root:has(#modal) {
  overflow: hidden;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  caret-color: transparent !important;
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
}
