.container {
  max-width: 754px;
  width: 100%;
  display: grid;
  grid-template-columns: 55px auto 55px;
  grid-auto-rows: 52px 15px;
  grid-template-areas:
    '. a b'
    '. c .';

}

.wrapper {
  grid-area: a;
  max-width: 616px;
  width: 100%;
}

.error {
  grid-area: c;
  height: 12px;
  margin: 4px 0 0 0;
  color: var(--Color-Red-500);
  font-size: 10px;
  font-weight: 500;
}

.deleteBtn {
  grid-area: b;
  align-self: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.icon {
  fill: var(--Color-Grey-100);
  width: 26px;
  height: 26px;
}

.deleteBtn:hover {
  .icon {
    fill: var(--Color-Grey-200);
    cursor: pointer;
  }
}
