@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.raw {
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 808px;
  gap: 8px;
  margin-bottom: 10px;
}

.title {
  @include text-sm-regular;
  color: $neutral-700;
  margin: 0;
  padding: 0;
}

