.inputGroup {
  margin: 10px 0;
}

.inputGroup > label {
  display: flex;
  margin-bottom: 8px;
}

.error {
  padding: var(--Spacing-4);
  height: 24px;
  color: var(--Color-Red-500);
  font-size: 10px;
  font-weight: 300;
}

.label {
  margin: 0;
  color: var(--Text-Dark);
  font-size: 14px;
  font-weight: 400;
}
