@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.title{
  @include text-sm-regular;
  color: $neutral-700;
  margin-bottom: 8px;
  padding: 2px 0;
}

.container{
  display: flex;
  flex-direction: column;
  max-height: 170px;
}