@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.getStarted {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:
    40px
    min-content
    auto
    min-content
    auto
    40px;
  grid-template-areas:
    '.'
    'a'
    '.'
    'b'
    '.'
    '.';
  justify-items: center;
}

.logo {
  grid-area: a;
}

.content {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include text-xlg-bold;
  color: $neutral-800;
}

.cards {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.action {
  width: 100%;
}

.actionButton {
  width: 100%;
}

.historyIcon {
  @include icon('@assets/icons/history-outline.svg');
}
