.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 48px calc(100vh - 48px);
  grid-template-areas:
    'a'
    'b';
  overflow: hidden;
}

.content {
  grid-area: b;
}
