@use '@styles/variables' as *;

.container {
  grid-area: b;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: $neutral-400;
  }
  scrollbar-gutter: stable;
}

.content {
  padding: 0 21px 0 24px;
}

.modalFooter {
  grid-area: c;
  height: 100%;
  align-items: flex-end;
  padding-top: 8px;
}
