.methods {
  display: flex;
  width: 100%;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
}


.title{
  color: var(--Text-Dark);
  font-size: 18px;
  font-weight: 600;
}

.subtitle{
  color: var(--Text-Dark);
  font-size: 16px;
  font-weight: 500;
}