.container {
  min-height: 100%;
  display: grid;
  grid-template-columns:10px 280px 20px auto 10px;
  grid-template-rows: 10px auto 10px;
  grid-template-areas:
    '. . . . .'
    '. a . b .'
    '. . . . .';
}
.account {
  border: 1px solid #000000;
  margin: 10px;
  padding: 10px;
}

.key {
  background-color: #efddff;
  padding: 10px;
  margin: 10px 0;
}
