@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
}

.title {
  @include text-sm-regular;
  color: $neutral-700;
}
