.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
