@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.item {
  display: flex;
  justify-content: start;
}

.label {
  width: 218px;
}

.title {
  @include text-sm-regular;
  color: $neutral-600;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: max-content;
}

.data {
  @include text-sm-regular;
  color: $neutral-700;
  padding: 0;
  margin: 0;
}
