@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.label {
  display: flex;
}

.text {
  color: $neutral-700;
  word-break: break-all;
}

.iconBase {
  background-color: $neutral-700;
}

@mixin colorScheme($bgColor, $textColor, $iconColor) {
  @include text-sm-medium;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  border-radius: 12px;
  padding: 2px 8px;
  background-color: $bgColor;
  .text {
    color: $textColor;
  }
  .iconBase {
    background-color: $iconColor;
  }
}

.grey {
  @include colorScheme($neutral-100, $neutral-700, $neutral-700);
}

.success {
  @include colorScheme($green-50, $success-800, $success-800);
}

.error {
  @include colorScheme($red-50, $red-600, $red-600);
}

.cyan {
  @include colorScheme($cyan-50, $cyan-800, $cyan-800);
}

.blue {
  @include colorScheme($blue-50, $blue-800, $blue-800);
}

.purple {
  @include colorScheme($purple-50, $purple-800, $purple-800);
}

.red {
  @include colorScheme($red-50, $red-800, $red-800);
}

.green {
  @include colorScheme($accent-50, $accent-600, $accent-600);
}
