.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 16px;
  background: var(--Color-Olive-300);
  padding: 0 var(--Spacing-6);
}

.balance {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
}
