@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.title {
  @include text-sm-regular;
  color: $neutral-700;
}

@mixin controlPanel($borderColor) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  border-radius: 8px 8px 0 0;
  border: solid $borderColor;
  border-width: 1px 1px 0;
}

.controlPanel{
  @include controlPanel($neutral-200);
}

.errorPanel{
  @include controlPanel($red-600);
}

.subtitle {
  @include text-xs-regular;
  color: $neutral-700;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

@mixin panelButton {
  background-color: $neutral-600;
  border: none;
  padding: 0;
  &:hover {
    background-color: $neutral-800;
    cursor: pointer;
  }
}

.format {
  @include icon('@assets/icons/format-linear.svg');
  @include panelButton;
}

.clear {
  @include icon('@assets/icons/eraser-linear.svg');
  @include panelButton;
}

.editorWrapper {
  min-height: 200px;
  width: 100%;
  display: flex;
  padding: 0;
}

.editor{
  width: 100%;
}
