@use '@styles/icons' as *;
@use '@styles/variables' as *;

.accountKeyPairs{
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.icon{
  @include icon('@assets/icons/add-square-outline.svg');
  background: $neutral-600;
}