@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.treeItem {
  border: none !important;
  :global(.dnd-sortable-tree_simple_tree-item) {
    padding: 8px !important;
    border: none !important;
  }

  cursor: auto !important;
  width: 100%;
  margin-bottom: 2px !important;
  border-radius: 8px;
  &:hover {
    background-color: $neutral-200;
    cursor: pointer;
  }
}

.folderWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.collapseButton {
  background: none;
  outline: none;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 0;
}

.plusIcon {
  @include icon('@assets/icons/plus-outline.svg');
  background: $neutral-600;
  width: 8px;
  height: 8px;
}

.minusIcon {
  @include icon('@assets/icons/minus-outline.svg');
  width: 8px;
  height: 8px;
  background: $neutral-600;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.folderIcon {
  @include icon('@assets/icons/folder-outline.svg');
  background: $neutral-600;
  //width: 11px;
}

.link {
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $neutral-800;
}

.active {
  background-color: $neutral-200;
}

.deleteButton{
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  &:hover{
    .deleteIcon{
      background-color: $neutral-800;
    }
  }
}

.deleteIcon {
  @include icon('@assets/icons/trash-bin-outline.svg');
  background-color: $neutral-600;
}