@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.regularIcon {
  @include icon('@assets/icons/server-square-outline.svg');
  background-color: $neutral-600;
}

.regularIconBold {
  @include icon('@assets/icons/server-square-bold.svg');
  background-color: $neutral-800;
}

.archivalIcon {
  @include icon('@assets/icons/archive-outline.svg');
  background-color: $neutral-600;
}

.archivalIconBold {
  @include icon('@assets/icons/archive-bold.svg');
  background-color: $neutral-800;
}
