.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.topbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--Border-Radius-3) var(--Border-Radius-3) 0 0;
  background-color: var(--Color-Green-300);
}
