.container {
  color: #ffffff;
  font-size: 16px;
  width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 2px;
}

.container:hover {
  background-color: #40916c;
  border-radius: 8px;
}

.img {
  margin: 0 8px 0 21px;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.active{
  background-color: #40916c;
  border-radius: 8px;
}