@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.result {
  position: relative;
  width: calc(100% - 26px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 6px 82px 16px;
}

.container {
  width: 100%;
}

.head {
  padding: 16px;
  background-color: $neutral-50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 24px;
}

.headWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  @include text-lg-medium;
  color: $neutral-800;
  margin: 0 0 4px 0;
  padding: 0;
}

.call {
  @include text-sm-regular;
  color: $neutral-600;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

.loader {
  margin: 30px;
}

.hashWrapper {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.tooltipWrapper {
  display: flex;
  gap: 8px;
}

.subtitle {
  @include text-sm-regular;
  color: $neutral-700;
}

.hash {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: $neutral-50;
  border: 1px solid $neutral-200;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.content {
  display: flex;
  width: 100%;
  margin-top: 24px;
}

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 16px;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid $neutral-200;
  background: $neutral-00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
}
