@use 'frontend/ui/styles/variables.module' as *;
@use 'frontend/ui/styles/mixins.module' as *;

.container {
  width: 224px;
  gap: 8px;
  padding: 0 8px;
  display: flex;
  justify-content: start;
  align-items: center;

}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  &:hover{
    background-color: $neutral-200;
    cursor: pointer;
  }
}


.title {
  max-width: 450px;
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $neutral-800;
}

.active {
  background-color: $neutral-200;
}
