@use '@styles/variables' as *;
@use '@styles/icons' as *;

.topbar {
  grid-area: a;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  border-bottom: 1px solid $neutral-200;
  background: $neutral-00;
  user-select: none;
}

@mixin wrapper {
  display: flex;
  border-radius: 8px;
  height: 32px;
  align-items: center;
}

.wrapper {
  @include wrapper;
}

.borderedWrapper {
  @include wrapper;
  background-color: $neutral-50;
  border: 1px solid $neutral-200;
  * {
    cursor: pointer;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.githubIcon {
  @include icon('@assets/socialMedia/social-media-github.svg');
}

.sideMenu {
  position: relative;
}

.icon {
  padding: 8px;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  &:hover {
    background-color: $neutral-100;
  }
}

.xIcon {
  @include icon('@assets/socialMedia/social-media-x.svg');
}
