.topbar {
  grid-area: topbar;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  width: 100%;
  grid-template-columns: 190px 190px 190px auto;
  grid-template-rows: auto;
  grid-template-areas: 'a b c .';

  padding: 0 16px;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--Colors-Neutral-Gray-200, #e9ecef);
  background: var(--Colors-Neutral-Gray-00, #fff);
}
