@use '@styles/variables' as *;
@use '@styles/mixins' as *;


.container {
  position: relative;
  height: 100%;
  max-width: 680px;
  min-width: 610px;
  padding: 40px 0;
  width: 100%;
  background-color: white;
}

.backBtn{
  position: absolute;
  top: 40px;
  left: -100px;
}

.account{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 610px;
  max-width: 680px;
  gap: 24px;
}

.toggle {
  border-radius: 8px;
  display: flex;
  padding: 4px;
  justify-content: start;
  align-items: center;
  gap: 2px;
  background-color: $neutral-50;
  width: max-content;
}

