@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.backBtn {
  grid-area: a;
  margin-top: 40px;
  margin-left: 40px;
  height: fit-content;
  width: fit-content;
  position: fixed;
}

.account {
  grid-area: b;
  justify-self: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 610px;
  max-width: 680px;
  gap: 24px;
}

.toggle {
  border-radius: 8px;
  display: flex;
  padding: 4px;
  justify-content: start;
  align-items: center;
  gap: 2px;
  background-color: $neutral-50;
  width: max-content;
}
