@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.manually {
  margin-top: 24px;
  height: calc(100vh - 344px);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.buttonWrapper {
  min-height: 88px;
}
