.network {
  display: grid;
}

.content {
  transition: 300ms;
  height: 100%;
  margin-left: 201px;
  padding-top: 40px;
}

.minimized {
  margin-left: 57px;
  transition: 300ms;
  padding-top: 40px;
}
