.formScrollWrapper {
  grid-area: b;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: calc(100% - 80px);
  margin: 0 0;
}

.topNav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.resultBtn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: var(--Spacing-4);
  background-color: var(--Button-Primary);
  color: white;
}

.title {
  margin: 0 0 20px 0;
  text-align: center;
  color: var(--Color-Green-2000);
  font-size: 16px;
  font-weight: 600;
}

.resultContainer {
  display: flex;
  height: calc(100vh - 60px);
  flex-direction: column;
}
