@use '@styles/variables' as *;

.button {
  width: 16px;
  height: 16px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  &:disabled {
    cursor: default;
  }
  &:hover {
    .icon {
      fill: $neutral-800;
    }
  }
}

.icon {
  padding: 0;
  fill: $neutral-600;
  width: 16px;
  height: 16px;
}

.iconSecondary {
  padding: 0;
  fill: $neutral-700;
  width: 16px;
  height: 16px;
}
