@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: $neutral-800;
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
}

.editName {
  display: flex;
  align-items: center;
  max-width: calc(100% - 48px);
  cursor: text;
  gap: 6px;
  &:hover {
    .icon {
      visibility: visible;
    }
  }
}

.icon {
  @include icon('@assets/icons/edit-rename-outline.svg');
  background-color: $neutral-600;
  visibility: hidden;
  min-height: 16px;
  min-width: 16px;
}

.title {
  font-size: 14px;
  color: $neutral-800;
  font-weight: 400;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}
