.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 10px auto 10px;
  grid-template-rows: 10px 50px 10px auto 10px;
  grid-template-areas:
    'a . . .'
    'a . c .'
    'a . c .'
    'a . c .'
    'a . . .';
}
