.root {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 8px auto 8px;
  grid-template-areas:
    'a . '
    'a b '
    'a . ';
  background: linear-gradient(180deg, #fff 0%, #e9f6f0 51%, #fff 100%);
}

.main {
  grid-area: b;
}
