@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.popup {
  position: absolute;
  top: 47px;
}

.positionRight {
  left: 114px;
}

.positionLeft {
  right: -2px;
}

.positionCenter {
  left: 70px;
}

.buttonWrapper {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  width: 104px;
  height: 64px;
  position: absolute;
  padding: 4px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
}

.button {
  width: 104px;
  background-color: white;
  border: none;
  display: flex;
  height: 32px;
  justify-content: left;
  border-radius: 4px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  word-break: normal;
  padding: 0 8px;
  &:hover{
    cursor: pointer;
    background-color: $neutral-100;
    .buttonText{
      color: $neutral-800;
    }
    .icon{
      fill: $neutral-800;
    }
  }
}

.buttonText {
  @include text-sm-regular;
  color: $neutral-700;
  font-size: 16px;
  font-weight: 400;

}

.icon{
  fill: $neutral-700;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
