@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.empty {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  @include icon('@assets/icons/transaction-file-bold.svg');
  background-color: $accent-200;
  width: 80px;
  height: 80px;
}

.text {
  @include text-mg-medium;
  text-align: center;
  color: $neutral-500;
  padding: 0;
  margin: 24px 0 16px 0;
}
