@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 512px;
  gap: 24px;
}

.head{
  display: flex;
  justify-content: space-between;
}

.title {
  @include text-lg-medium;
  color: $neutral-800;
  height: 24px;
  margin: 0;
}


.button {
  display: flex;
  justify-content: end;
}

.error {
  @include text-xs-regular;
  padding: 0;
  opacity: 0;
  margin: 0;
  color: $error-600;
}
