@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.fileSystem {
  @include scrollbar();
  padding: 0;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 4px 0 8px;
}
