.permission {
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.change {
  background: #6c40ca;
}

.view {
  background: #24ca74;
}

.text {
  color: #FFF;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

