@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.rpcNodes {
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include text-mg-medium;
  color: $neutral-800;
  margin: 0;
}

.addIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: $neutral-700;
  mask: url('@assets/add-square-outline.svg') no-repeat center / contain;
}

.card {
  border: 1px solid $neutral-200;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
}
