@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.topbar {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $neutral-50;
  border-radius: 16px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.date {
  @include text-sm-regular;
  color: $neutral-600;
  padding: 0;
  margin: 4px 0 0 0;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.duplicateIcon {
  @include icon('@assets/icons/duplicate-outline.svg');
}

.exportIcon {
  @include icon('@assets/icons/export-linear.svg');
}

.deleteIcon {
  @include icon('@assets/icons/trash-bin-outline.svg');
}
