@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.call {
  grid-area: b;
  overflow-y: auto;
  height: calc(100vh - 168px);
  padding: 40px 16px 80px 0;
  overflow-x: auto;
}

@media (min-width: 1000px) {
  .call {
    overflow-x: hidden;
  }
}
