@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.call {
  grid-area: b;
  overflow-y: auto;
  height: 100%;
  overflow-x: auto;
}

@media (min-width: 1000px) {
  .call {
    overflow-x: hidden;
    scrollbar-gutter: stable
  }
}
