.sideMenu{
  display: flex;
  justify-content: start;
}

.sideMenuButton {
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}

.icon{
  color: #87b19e !important;
}

.icon:hover{
  color: var(--Color-Grey-100) !important;
}