@use '@styles/icons' as *;
@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.actions {
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.icon {
  @include icon('@assets/icons/code-circle-outline.svg');
  width: 20px;
  height: 20px;
  background-color: $neutral-400;
}

.title {
  @include text-mg-medium;
  color: $neutral-800;
}

.tooltipContent {
  text-align: start;
}
