.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Card-Body);
  box-shadow: var(--Box-Shadow-020);
  border-radius: var(--Border-Radius-3);
}

.topBar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Color-Green-200);
  border-radius: var(--Border-Radius-3) var(--Border-Radius-3) 0 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.modalContainer {
  padding: 28px 32px 32px 32px;
  width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: var(--Box-Shadow-025);
  position: fixed;
  top: 50%;
  left: calc(50% + 375px);
  transform: translate(-50%, -50%);
  border-radius: var(--Border-Radius-3);
}

.wrapper {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: auto;
}

.bottomBar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  background: var(--Color-Green-200);
  border-radius: 0 0 var(--Border-Radius-3) var(--Border-Radius-3);
}
