.button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.copy {
  color: var(--Color-Olive-300);
}

.icon {
  color: var(--Color-Grey-100);
}

.icon:hover {
  color: var(--Color-Grey-200);
}
