.button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.button:hover {
  .icon {
    fill: var(--Color-Olive-400);
  }
}

.copy {
  fill: var(--Color-Olive-400);
}

.icon {
  fill: var(--Color-Grey-100);
}

.icon:hover {
  fill: var(--Color-Olive-400);
}
