.transactions {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 20px auto 20px;
  grid-template-rows: 10px calc(100vh - 30px) 10px;
  grid-template-areas:
    'a . . .'
    'a . b .'
    'a . . .';
}

