.transactions {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 10px auto 10px;
  grid-template-rows: 5px calc(100vh - 20px) 5px;
  grid-template-areas:
    'a . . .'
    'a . b .'
    'a . . .';
}

