@use '@styles/icons' as *;
@use '@styles/variables' as *;

.accountIds {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.icon {
  @include icon('@assets/icons/add-square-outline.svg');
  background: $neutral-600;
}

.deleteIcon {
  @include icon('@assets/icons/trash-bin-outline.svg');
  background: $neutral-600;
}
