.container {
  height: calc(100% - 60px);
}

.formScrollWrapper {
  height: calc(100% - 60px);
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: calc(100% - 80px);
  margin: 20px 0;
}

.title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
