.container {
  height: calc(100% - 60px);
}

.formScrollWrapper {
  height: calc(100% - 60px);
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: calc(100% - 80px);
  margin: 20px 0;
}

.title {
  margin: 30px 0 20px 0;
  text-align: center;
  color: var(--Color-Green-2000);
  font-size: 16px;
  font-weight: 600;
}
