@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.backstage {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.2;
}

.modal {
  min-width: max-content;
  min-height: max-content;
  padding: 24px;
  position: fixed;
  z-index: 1000;
  top: calc(50%);
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
}
