.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  background-color: white;
  border-radius: var(--Border-Radius-3);
  box-shadow: var(--Box-Shadow-025);
}

.topbar {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--Border-Radius-3) var(--Border-Radius-3) 0 0;
  background-color: var(--Color-Green-300);
}
