@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.settings {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  @include text-lg-medium;
  color: $neutral-800;
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dangerZone {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  width: 100%;
  max-width: 648px;
  padding: 15px;
  border: 1px solid $neutral-200;
  border-radius: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 501px;
}

.subtitle {
  @include text-sm-medium;
  padding: 0;
  margin: 0;
  color: $neutral-800;
}

.subtitleLight {
  @include text-sm-regular;
  padding: 0;
  margin: 0;
  color: $neutral-700;
}

.exportIcon {
  @include icon('@assets/icons/export-linear.svg');
}
