.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.title{
  margin: 32px 0 14px 0;
  color: var(--Text-Dark);
  font-size: 16px;
  font-weight: 600;
}

.btnWrapper{
  margin-top: 14px;
}