@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.selectSpace {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
  height: 24px;
}

.badge {
  background-color: #f6337a;
  border-radius: 2px;
  margin: 2px;
  width: 12px;
  height: 12px;
}
