.empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  padding: 28px 32px 32px 32px;
  width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: var(--Box-Shadow-025);
  position: fixed;
  top: 50%;
  left: calc(50% + 175px);
  transform: translate(-50%, -50%);
  border-radius: var(--Border-Radius-3);
}
