.sideMenuButton {
  margin-left: 15px;
  padding: 10px 0;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}

.icon{
  color: #87b19e !important;
}

.icon:hover{
  color: var(--Color-Grey-100) !important;
}