@use '@styles/variables' as *;
@use '@styles/mixins' as *;

@mixin item {
  display: flex;
  width: 208px;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  background: none;
  outline: none;
  border: none;
  gap: 8px;
}

.item {
  @include item;
  &:hover {
    background-color: $neutral-200;
    cursor: pointer;
    .icon {
      fill: $accent-600;
    }
  }
}

.active {
  @include item;
  background-color: $neutral-200;
  cursor: pointer;
  .icon {
    fill: $accent-600;
  }
}

.disabled {
  @include item;
  .icon {
    fill: $neutral-500;
  }
  .title {
    color: $neutral-500;
  }
}

.title {
  @include text-sm-regular;
  //font-size: 14px;
  //font-style: normal;
  //font-weight: 400;
  //line-height: 16px;
  color: $neutral-800;
  padding: 0;
  margin: 0;
}

.icon {
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
