@use 'frontend/ui/styles/variables.module' as *;

.container {
  display: flex;
  align-items: center;
}

.button {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  padding: 0;
  fill: $neutral-700;
  width: 16px;
  height: 16px;
}
