.title {
  margin: 0 0 20px 0;
  color: var(--Text-Dark);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: normal;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:not(:last-child) {
  border-bottom: 1px solid var(--Color-Green-400);
}

.fullAccess {
  height: 40px;
}

.functionCall {
  height: 76px;
}

.subtitle {
  color: var(--Text-Dark);
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.contractId {
  color: var(--Text-Dark);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 0 0 0;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--Color-Green-1500);
}
.icon:hover {
  width: 20px;
  height: 20px;
  fill: var(--Color-Green-2000);
}
