@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  @include text-mg-medium;
  color: $neutral-800;
  margin: 0;
  padding: 0 0 8px 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 16px;
  border: 1px solid $neutral-200;
  border-radius: 8px;
  background-color: $neutral-00;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.subtitle {
  @include text-sm-medium;
  color: $neutral-800;
  padding: 0;
  margin: 0;
}

.contractId {
  color: var(--Text-Dark);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 0 0 0;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tooltip {
  display: flex;
  justify-content: center;
}

.icon {
  @include icon('@assets/icons/check-circle-outline.svg');
  background-color: $green-700;
}

.copy {
  display: flex;
  justify-content: center;
  padding: 4px;
}
