@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.link {
  @include text-sm-medium;
  display: flex;
  height: 24px;
  padding: 2px 16px;
  justify-content: center;
  align-items: center;
  color: $neutral-700;
}

.activeLink {
  @extend .link;
  border-radius: 4px;
  background: $neutral-00;
  color: $neutral-800;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
}
