@use '@styles/variables' as *;

.selectNearNetwork {
  display: flex;
  align-items: center;
  height: 32px;
  position: relative;
  padding-right: 4px;
  border-radius: 0 8px 8px 0;
  background-color: $neutral-00;
}
