.container {
  height: calc(100% - 60px);
}

.formScrollWrapper {
  grid-area: b;
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 190px);
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  margin: 66px 0 32px 0;
}

.formWithoutNav {
  margin: 16px 0 0 0;
}

.topNav {
  display: flex;
  align-items: center;
  justify-content: end;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.topNavActive {
  border-bottom: 1px solid var(--Color-Green-300);
  height: 50px;
}

.resultBtn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: var(--Spacing-4);
  background-color: var(--Button-Primary);
  color: white;
  margin-right: 40px;
}

.title {
  margin: 0 0 20px 0;
  text-align: center;
  color: var(--Color-Green-2000);
  font-size: 16px;
  font-weight: 600;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
