@use '@styles/icons' as *;
@use '@styles/variables' as *;

.contractIds{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.deleteIcon{
  @include icon('@assets/icons/trash-bin-outline.svg');
  background-color: $neutral-600;
}
