@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;


.menuIcon {
  @include icon('@assets/icons/menu-dots-outline.svg');
  background-color: $neutral-600;
}

.d {
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  box-shadow: $dropdown-menu;
  border: 1px solid $neutral-200;
  border-radius: 8px;
  gap: 4px;
  width: 170px;
  background-color: $neutral-00;
}

.menuButton {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  background: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  &:hover {
    background-color: $neutral-300;
    .menuIcon {
      background-color: $neutral-800;
    }
  }
  &:active {
    .menuIcon {
      background-color: $neutral-800;
    }
  }
}

@mixin createBtn {
  width: 100%;
  border: none;
  gap: 8px;
  padding: 8px;
  display: flex;
  justify-content: start;
  background: none;
  align-items: center;
  border-radius: 4px;
  &:focus {
    .title {
      color: $neutral-800;
    }
    background-color: $neutral-200;
  }
  &:hover {
    background-color: $neutral-200;
    cursor: pointer;
    .title {
      color: $neutral-800;
    }
  }
}

.activeBtn {
  background-color: $neutral-300;
  .menuIcon {
    background-color: $neutral-800;
  }
}

.duplicateButton {
  @include createBtn;
  &:hover {
    .transactionIcon {
      background-color: $neutral-800;
    }
  }
}

.folderButton {
  @include createBtn;
  &:hover {
    .folderIcon {
      background-color: $neutral-800;
    }
  }
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.renameButton {
  @include createBtn;
  &:hover {
    .renameIcon {
      background-color: $neutral-800;
    }
  }
}

.renameIcon {
  @include icon('@assets/icons/edit-rename-outline.svg');
  background-color: $neutral-600;
}

.title {
  margin: 0;
  padding: 0;
  color: $neutral-600;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.subtitle {
  text-align: center;
  margin: 0;
  padding: 0;
  color: $neutral-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.duplicateIcon {
  @include icon('@assets/icons/duplicate-outline.svg');
}

.exportIcon {
  @include icon('@assets/icons/export-linear.svg');
}

.deleteIcon {
  @include icon('@assets/icons/trash-bin-outline.svg');
}