.label {
  grid-area: a;
  align-self: center;
  border-radius: 16px;
}

.lantstool {
  background-color: #4ab584;
  margin-right: 15px;
}

.ledger {
  background-color: #42b0ee;
  margin-right: 20px;
}

.myNearWallet {
  background-color: #8b56ec;
}

.text {
  margin: 4px 16px;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text:first-letter{
  text-transform: uppercase;
}
