.topBar {
    display: grid;
    height: 60px;
    grid-template-columns: 20px auto 20px 25px 20px;
    grid-template-areas: '. a . b .';
    width: 100%;
    border-radius: 15px 15px 0 0 ;
    background-color: #438668;
}
.buttonContainer {
    grid-area: b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.importKeyContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 90px);
    border-radius: 0 0 15px 15px ;
    background-color: #FFFFFF;
}