.signerAccount{
  margin-bottom: var(--Spacing-4);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: var(--Spacing-4);
}

.title {
  margin: 0;
  height: 17px;
  color: var(--Text-Dark);
  font-size: 14px;
  font-weight: 400;
}

.error{
  padding-top: 4px;
  height: 24px;
}