.sidebar {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #438668;
  border-radius: 8px 0 0 8px;
  padding: 15px 0;
}
.search {
  height: 40px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #d4ffeb;
  background-color: #438668;
  outline-width: 0;
}
.wrapper {
  width: 100%;
  height: calc(100vh - 170px);
  overflow: auto;
}
::-webkit-scrollbar {
  margin: 0;
  background: #709784;
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #96d8ae;
}
.title {
  margin-left: 7px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textWrapper {
  margin: 5px 0 0 10px;
  display: flex;
  height: 40px;
  width: 280px;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
  color: #ffffff;
}
.textWrapper:hover {
  background-color: #7dd7b3;
  cursor: pointer;
}
.active {
  background-color: #53b689;
}
