.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: var(--Border-Radius-3);
  box-shadow: var(--Box-Shadow-020);
}

.modalContainer {
  width: 486px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: var(--Box-Shadow-025);
  position: fixed;
  top: 50%;
  left: calc(50% + 390px);
  transform: translate(-50%, -50%);
  border-radius: var(--Border-Radius-3);
  padding: var(--Spacing-9) var(--Spacing-10) var(--Spacing-10) var(--Spacing-10);
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  color: var(--Text-Dark);
  background: var(--Color-Green-200);
  border-radius: var(--Border-Radius-3) var(--Border-Radius-3) 0 0;
}

.list {
  width: 100%;
  height: calc(100vh - 145px);
  overflow: auto;
}

.addTransactionButton {
  height: 30px;
  width: calc(100% - 10px);
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.addTransactionButton:hover {
  transform: scale(1.01);
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: var(--Color-Green-200);
  border-radius: 0 0 var(--Border-Radius-3) var(--Border-Radius-3);
}
