@use 'frontend/ui/styles/variables.module' as *;
@use 'frontend/ui/styles/mixins.module' as *;

.formScrollWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  overflow: auto;
  height: calc(100vh - 128px);
  padding: 40px 8px 0 8px;
}

.form {
  padding: 0 40px;
  width: 600px;
}


.resultBtn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: var(--Spacing-4);
  background-color: var(--Button-Primary);
  color: white;
  margin-right: 40px;
}

.details{
  display: flex;
  height: 24px;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.icon{
  height: 21.5px;
  width: 21.5px;
  fill: $neutral-400;
}

.title {
  margin: 0;
  text-align: center;
  color: $neutral-800;
  font-size: 16px;
  font-weight: 600;
}
