@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 6px 82px 16px;
  width: 100%;
  max-width: 600px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  width: 100%;
}

.icon {
  @include icon('@assets/icons/account-circle-outline.svg');
  width: 20px;
  height: 20px;
  background-color: $neutral-400;
}

.title {
  @include text-mg-medium;
  color: $neutral-800;
}

.tooltipContent {
  text-align: start;
}
