.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: calc(100% - 32px);
  height: calc(100vh - 128px);
  padding: 40px 16px;
  overflow-y: auto;
  overflow-x: auto;
}

.fieldsContainer {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
