@use '@styles/variables' as *;
@use '@styles/mixins' as *;

@mixin button {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  margin: 0;
  border: none;
  cursor: pointer;
}

@mixin lg-btn {
  padding: 12px 16px;
  border-radius: 8px;
  gap: 8px;
}

@mixin mg-btn {
  padding: 8px 16px;
  border-radius: 8px;
  gap: 8px;
}

@mixin lg-btn-icon {
  padding: 12px;
  border-radius: 8px;
  gap: 8px;
}

@mixin mg-btn-icon {
  padding: 8px;
  border-radius: 8px;
  gap: 8px;
}

@mixin sm-btn {
  padding: 4px 8px;
  border-radius: 4px;
  gap: 4px;
}

@mixin sm-btn-icon {
  padding: 4px;
  border-radius: 4px;
}

@mixin primary {
  @include button;
  background-color: $accent-600;
  &:hover {
    background-color: $accent-700;
  }
  &:focus {
    box-shadow: $shadow-primary;
    background-color: $accent-600;
  }
  &:disabled {
    background-color: $accent-100;
    cursor: auto;
  }
}

.primaryLg {
  @include primary;
  @include lg-btn;
}

.primaryLgIcon {
  @include primary;
  @include lg-btn-icon;
}

.primaryMg {
  @include primary;
  @include mg-btn;
}

.primaryMgIcon {
  @include primary;
  @include mg-btn-icon;
}

@mixin danger {
  @include button;
  background-color: $red-600;
  &:hover {
    background-color: $red-700;
  }
  &:focus {
    box-shadow: $shadow-red;
    background-color: $red-600;
  }
  &:disabled {
    background-color: $red-100;
    cursor: auto;
  }
}

.dangerLg {
  @include danger;
  @include lg-btn;
}

.dangerLgIcon {
  @include danger;
  @include lg-btn-icon;
}

.dangerMg {
  @include danger;
  @include mg-btn;
}

.dangerMgIcon {
  @include danger;
  @include mg-btn-icon;
}

@mixin secondary {
  @include button;
  border: 1px solid $neutral-200;
  background-color: $neutral-00;
  &:hover {
    background-color: $neutral-50;
  }
  &:focus {
    box-shadow: $shadow-secondary;
    background-color: $neutral-00;
  }
  &:disabled {
    background: none;
    cursor: auto;
  }
  &:disabled .secondaryText {
    color: $neutral-500;
  }
  &:disabled .iconSecondary {
    fill: $neutral-500;
  }
  &:disabled .iconSecondaryStyle {
    background-color: $neutral-500 !important;
  }
}

.secondaryLg {
  @include secondary;
  @include lg-btn;
  padding: 11px 15px;
}

.secondaryLgIcon {
  @include secondary;
  @include lg-btn-icon;
  padding: 11px;
}

.secondaryMg {
  @include secondary;
  @include mg-btn;
  padding: 7px 16px;
}

.secondaryMgIcon {
  @include secondary;
  @include mg-btn-icon;
  padding: 7px;
}

@mixin dangerSecondary {
  @include secondary;
  &:disabled .dangerSecondaryText {
    color: $neutral-500;
  }
  &:disabled .iconDangerSecondary {
    fill: $neutral-500;
  }
  &:disabled .iconDangerSecondaryStyle {
    background-color: $neutral-500 !important;
  }
}

.dangerSecondaryLg {
  @include dangerSecondary;
  @include lg-btn;
  padding: 11px 15px;
}

.dangerSecondaryLgIcon {
  @include dangerSecondary;
  @include lg-btn-icon;
  padding: 11px;
}

.dangerSecondaryMg {
  @include dangerSecondary;
  @include mg-btn;
  padding: 7px 16px;
}

.dangerSecondaryMgIcon {
  @include dangerSecondary;
  @include mg-btn-icon;
  padding: 7px;
}

@mixin tertiary {
  @include button;
  background: none;
  &:hover {
    background-color: $neutral-50;
  }
  &:focus {
    background-color: $neutral-100;
  }
  &:disabled {
    background: none;
    cursor: auto;
  }
  &:disabled .tertiaryText {
    color: $neutral-400;
  }
  &:disabled .iconTertiary {
    fill: $neutral-400;
  }
  &:disabled .iconTertiaryStyle {
    background-color: $neutral-400 !important;
  }
}

.tertiaryLg {
  @include tertiary;
  @include lg-btn;
}

.tertiaryLgIcon {
  @include tertiary;
  @include lg-btn-icon;
}

.tertiaryMg {
  @include tertiary;
  @include mg-btn;
}

.tertiaryMgIcon {
  @include tertiary;
  @include mg-btn-icon;
}

.tertiarySm {
  @include tertiary;
  @include sm-btn;
}

.tertiarySmIcon {
  @include tertiary;
  @include sm-btn-icon;
}

@mixin text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
}

.primaryText {
  @include text;
  color: $neutral-00;
}

.secondaryText {
  @include text;
  color: $neutral-700;
}

.dangerSecondaryText {
  @include text;
  color: $red-600;
}

.tertiaryText {
  @include text;
  color: $neutral-700;
}

.iconPrimary {
  fill: $neutral-00;
}

.iconPrimaryStyle {
  background-color: $neutral-00 !important;
}

.iconSecondary {
  fill: $neutral-700;
}

.iconSecondaryStyle {
  background-color: $neutral-700 !important;
}

.iconDangerSecondary {
  fill: $red-600;
}

.iconDangerSecondaryStyle {
  background-color: $red-600 !important;
}

.iconTertiary {
  fill: $neutral-700;
}

.iconTertiaryStyle {
  background-color: $neutral-700 !important;
}
