.buttonImport {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 135px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #40916C;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}
.buttonImport:hover{
  background-color: #7dd7b3;;
}
.form {
  width: 100%;
}
.btnText{
  margin-left: 7px;
  font-size: 14px;
  font-weight: 600;
}