@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.container {
  display: flex;
  flex-direction: column;
}

.dropzone {
  height: 100%;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px dashed $neutral-300;
  background: $neutral-50;
}

.fileSmileBoldIcon {
  @include icon('@assets/icons/file-smile-bold.svg');
  height: 40px;
  width: 40px;
  background-color: $neutral-400;
  margin: 0 0 8px 0;
}

.callToAction {
  @include text-mg-regular;
  color: $neutral-600;
  margin: 0 0 16px 0;
  text-align: center;
}

.fileOutlineIcon {
  @include icon('@assets/icons/file-outline.svg');
  height: 24px;
  width: 24px;
  background-color: $neutral-800;
  margin-bottom: 8px;
}

.fileName {
  @include text-sm-regular;
  font-family: Roboto Mono, serif;
  color: $neutral-800;
  margin: 0 0 24px 0;
  text-align: center;
}
