@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.listWrapper {
  display: flex;
}

.list {
  min-width: 250px;
  max-width: 400px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: $neutral-50;
}

.resizer {
  width: 3px;
  cursor: col-resize;
  &:hover {
    background-color: $neutral-600;
  }
}

.topBar {
  display: flex;
  margin: 0 8px;
  gap: 2px;
}

.tooltip {
  border-radius: 8px;
  width: 100%;
}

.importBtn {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: none;
  &:hover {
    background-color: $neutral-200;
    cursor: pointer;
    .importIcon {
      background-color: $neutral-800;
    }
  }
}

.importBtn {
  width: 100%;
  border: none;
  gap: 8px;
  padding: 8px;
  display: flex;
  justify-content: start;
  background: none;
  align-items: center;
  border-radius: 8px;
  &:hover {
    background-color: $neutral-200;
    cursor: pointer;
    .title {
      color: $neutral-800;
    }
    .importIcon {
      background-color: $neutral-800;
    }
  }
}

.title {
  margin: 0;
  padding: 0;
  color: $neutral-600;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.importIcon {
  @include icon('@assets/icons/import-outline.svg');
  background: $neutral-600;
}

.callIcon {
  @include icon('@assets/icons/calls-outline.svg');
  background: $neutral-600;
}