.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: auto 800px auto;
  grid-template-rows: 70px calc(94vh - 46px) 10px;
  grid-template-areas:
    '. a .'
    '. b .'
    '. b .';
}
