@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  @include text-lg-medium;
  color: $neutral-800;
}

.icon {
  @include icon('@assets/icons/close-circle-outline.svg');
}
