// Primary colors
$neutral-00: #ffffff;
$neutral-50: #f8f9fa;
$neutral-100: #f1f3f5;
$neutral-200: #e9ecef;
$neutral-300: #dee2e6;
$neutral-400: #ced4da;
$neutral-500: #adb5bd;
$neutral-600: #868e96;
$neutral-700: #495057;
$neutral-800: #212529;

// Secondary colors
$green-50: #f2f8f0;
$green-800: #2c8b00;
$red-50: #fcebef;
$red-800: #df0035;
$cyan-50: #f0f9fb;
$cyan-800: #0097b8;
$blue-50: #ebf3fa;
$blue-800: #0263bd;
$purple-50: #f5f0fd;
$purple-800: #5400dc;

//Other colors
//$accent-100: #8ac0ff;
//$accent-600: #0075ff;
//$accent-700: #0060d2;
$success-50: #ecfdf3;
$success-800: #027a48;
$error-50: #fdefef;
$error-800: #e03131;
$warning-50: #fffaeb;
$warning-800: #b54708;
//New colors
$accent-100: #ceded7;
$accent-200: #bdd3c9;
$accent-600: #497561;
$accent-700: #375849;
$error-600: #ca2c2c;

$green-700: #307555;

//Font-size
$font-size-lg: 18px;
$font-size-mg: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

//Line-height
$line-height-lg: 24px;
$line-height-mg: 24px;
$line-height-sm: 20px;
$line-height-xs: 16px;

//Shadow
$shadow-primary: 0 0 0 4px rgba(73, 117, 97, 0.18);
$shadow-secondary: 0 0 0 4px rgba(179, 188, 196, 0.15);
