// Primary colors
$neutral-00: #ffffff;
$neutral-50: #f8f9fa;
$neutral-100: #f1f3f5;
$neutral-200: #e9ecef;
$neutral-300: #dee2e6;
$neutral-400: #ced4da;
$neutral-500: #adb5bd;
$neutral-600: #868e96;
$neutral-700: #495057;
$neutral-800: #212529;

// Secondary colors
$green-50: #f2f8f0;
$green-800: #2c8b00;
$cyan-50: #f0f9fb;
$cyan-800: #0097b8;
$blue-50: #ebf3fa;
$blue-800: #0263bd;
$purple-50: #f5f0fd;
$purple-800: #5400dc;

//Other colors
$success-50: #ecfdf3;
$success-800: #027a48;
$warning-50: #fffaeb;
$warning-700: #975f00;
$warning-800: #b54708;
//New colors
$accent-50: #eff4f2;
$accent-100: #ceded7;
$accent-200: #bdd3c9;
$accent-300: #9dbeaf;
$accent-400: #7ca894;
$accent-500: #5b9279;
$accent-600: #497561;
$accent-700: #375849;
$accent-800: #243a30;
$accent-900: #1b2c24;

$green-50: #ECF6F2;
$green-100: #DAEDE4;
$green-200: #B4DCC9;
$green-300: #8FCAAF;
$green-400: #69B994;
$green-500: #44a779;
$green-600: #368661;
$green-700: #307555;
$green-800: #22543d;
$green-900: #143224;

$red-50: #fceaea; //error light
$red-100: #f9d6d6;
$red-200: #f3adad;
$red-300: #ec8383;
$red-400: #e65a5a;
$red-500: #e03131;
$red-600: #ca2c2c; //error main
$red-700: #9d2222;
$red-800: #701919;

//Font-size
$font-size-xlg: 24px;
$font-size-lg: 18px;
$font-size-mg: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

//Line-height
$line-height-xlg: 32px;
$line-height-lg: 24px;
$line-height-mg: 24px;
$line-height-sm: 20px;
$line-height-xs: 16px;

//Shadow
$shadow-primary: 0 0 0 4px rgba(73, 117, 97, 0.18);
$shadow-secondary: 0 0 0 4px rgba(179, 188, 196, 0.15);
$shadow-red: 0 0 0 4px rgba(202, 44, 44, 0.14);
$dropdown-menu: 0 5px 20px 0 rgba(33, 37, 41, 0.17);
