@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

@mixin wrapper($color) {
  padding: 0;
  outline: none;
  display: flex;
  align-items: center;
  border: 1px solid $color;
  border-radius: 8px;
}

.wrapperDefault {
  @include wrapper($neutral-200);
  &:hover {
    border-color: $neutral-400;
    .borderDefault {
      background-color: $neutral-400;
    }
  }
}

.wrapperError {
  @include wrapper($red-600);
}

.wrapperFocused {
  @include wrapper($neutral-500);
  .borderDefault {
    background-color: $neutral-500;
  }
}

.wrapperDisabled {
  @include wrapper($neutral-200);
  color: $neutral-400;
  .borderDefault {
    background-color: $neutral-300;
  }
  .input {
    color: $neutral-600;
    background-color: $neutral-200;
    &::placeholder {
      color: $neutral-400;
    }
  }
}

@mixin border($color) {
  border: none;
  height: 100%;
  width: 1px;
  min-width: 1px;
  background-color: $color;
  margin: 0;
  padding: 0;
}

.borderDefault {
  @include border($neutral-300);
}

.borderError {
  @include border($red-600);
}

.label {
  @include text-sm-regular;
  align-content: center;
  color: $neutral-700;
  padding: 2px 0;
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.input {
  @include text-mg-regular;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 24px;
  width: calc(100% - 72px);
  border-radius: 7px 0 0 7px;
  background: $neutral-50;
  border: none;
  outline: none;
  padding: 8px 60px 8px 12px;
  &::placeholder {
    color: $neutral-400;
  }
}

.buttonWrapper {
  position: absolute;
  width: 48px;
  display: flex;
  justify-content: right;
  right: 12px;
  top: 12px;
  gap: 8px;
}

.button {
  width: 16px;
  height: 16px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  &:disabled {
    cursor: default;
  }
}

.icon {
  fill: $neutral-600;
}
