@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.seedPhraseContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topWrapper {
  display: flex;
  flex-direction: column;
}

.description {
  @include text-sm-regular;
  color: $neutral-700;
  margin: 24px 0 16px 0;
}

.textareaWrapper {
  margin-top: 10px;
}
