.key {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px 30px;
  border-radius: 8px;
  border: 1px solid #40916c;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7px;
  align-items: center;
}
.infoGroup {
  display: flex;
  height: 100%;
  text-align: center;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
.infoButtons {
  display: flex;
  justify-content: space-evenly;
}