.methods {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
  overflow: auto;
}

.btnWrapper {
  display: flex;
  margin-top: 32px;
  padding: var(--Spacing-8) 0;
  justify-content: center;
  align-items: center;
  gap: var(--Spacing-8);
  border-top: var(--Spacing-1) solid var(--Color-Green-500);
}

.editWrapper{
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
