@use "variables.module" as *;

@mixin base-typography($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  font-weight: $font-weight;
}

@mixin h1-lg-regular {
  @include base-typography($font-size-lg, $line-height-lg, 400);
}

@mixin h1-lg-medium {
  @include base-typography($font-size-lg, $line-height-lg, 500);
}

@mixin h1-lg-semibold {
  @include base-typography($font-size-lg, $line-height-lg, 600);
}

@mixin h1-lg-bold {
  @include base-typography($font-size-lg, $line-height-lg, 700);
}

@mixin h1-mg-regular {
  @include base-typography($font-size-mg, $line-height-mg, 400);
}

@mixin h1-mg-medium {
  @include base-typography($font-size-mg, $line-height-mg, 500);
}

@mixin h1-mg-semibold {
  @include base-typography($font-size-mg, $line-height-mg, 600);
}

@mixin h1-mg-bold {
  @include base-typography($font-size-mg, $line-height-mg, 700);
}

@mixin h1-sm-regular {
  @include base-typography($font-size-sm, $line-height-sm, 400);
}

@mixin h1-sm-medium {
  @include base-typography($font-size-sm, $line-height-sm, 500);
}

@mixin h1-sm-semibold {
  @include base-typography($font-size-sm, $line-height-sm, 600);
}

@mixin h1-sm-bold {
  @include base-typography($font-size-sm, $line-height-sm, 700);
}

@mixin h1-xs-regular {
  @include base-typography($font-size-xs, $line-height-xs, 400);
}

@mixin h1-xs-medium {
  @include base-typography($font-size-xs, $line-height-xs, 500);
}

@mixin h1-xs-semibold {
  @include base-typography($font-size-xs, $line-height-xs, 600);
}

@mixin h1-xs-bold {
  @include base-typography($font-size-xs, $line-height-xs, 700);
}