.container {
  height: 28px;
  padding: 0 6px 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #a8beb0;
  border-radius: 6px;
}

.nearIcon {
  height: 24px;
}

.balance {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
