@use '../../../../../styles/variables' as *;


.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.text {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon{
  fill: $neutral-700;
}
