@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 680px;
  min-width: 610px;
  height: 100%;
  padding: 40px 16px;
  gap: 24px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  @include text-lg-medium;
  color: $neutral-800;
  margin: 0;
  padding: 0;
}

.subtitle {
  @include text-sm-regular;
  color: $neutral-700;
  margin: 0;
  padding: 0;
}
