.topBar {
    grid-area: a;
    display: flex;
    justify-content: center;
    border-radius: var(--Border-Radius-3) var(--Border-Radius-3) 0 0;
    background-color: var(--Color-Green-300);
}

.title {
    grid-area: d;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    align-self: center;
    justify-self: center;
}
