.formScrollWrapper {
  grid-area: b;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: calc(100% - 80px);
  margin: 20px 0;
}

.title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.bottomBar {
  grid-area: c;
  background-color: #40916c;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  display: grid;
  grid-template-columns: 40px auto 50px 40px;
  grid-template-areas: '. d e .';
  align-items: center;
}

.sendTransaction {
  grid-area: d;
  justify-self: center;
}

.saveButton {
  grid-area: e;
  justify-self: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
