@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.rpcFormContainer {
  grid-area: e;
  margin-top: 24px;
  min-height: 320px;
}

.buttonWrapper {
  grid-area: f;
  justify-self: center;
  display: flex;
  gap: 8px;
}
