@use '@styles/variables' as *;

.navigation {
  grid-area: c;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.border {
  width: 100%;
  outline: none;
  border: 1px solid $neutral-200;
  margin: 10px 0;
}
