@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.keys {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 314px);
}

.icon{
  fill: $accent-200;
  width: 80px;
  height: 80px;
}

.title {
  @include text-mg-medium;
  color: $neutral-500;
  width: 340px;
  text-align: center;
  padding: 0;
  margin: 24px 0 0 0;
}
