.generalPage {
  height: calc(100vh - 106px); // 48px top bar + 58px margin-bottom
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
