.input {
  height: 52px;
  width: 100%;
  position: relative;
  display: inline-flex;
  border: 1px solid #40916c;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  background-color: inherit;
  box-sizing: border-box;
  padding: 5px 15px;
}

.input:disabled {
  border: 1px solid #8d8d8d;
}

.error {
  height: 26px;
  color: #ef2929;
  font-size: 10px;
  font-weight: 300;
}

.textarea {
  font-family: 'Montserrat', sans-serif;
  height: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  resize: none;
  word-break: break-all;
}
