.permission {
  width: 110px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.fullAccess {
  background: #3FAEC6;
}

.functionCall {
  background: #F4BD51;
}

.text {
  color: #FFF;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

