.transfer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--Spacing-6);
  width: 100%;
  gap: 12px;
}

.amount {
  width: 100%;
}

.wrapper {
  width: 180px;
  margin-top: 35px;
}
