@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.selectBlockchain {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 40px 0 24px 0;
}

.title {
  @include text-xlg-bold;
  color: $neutral-800;
  padding: 0;
  margin: 0;
  text-align: center;
}

.subtitle {
  @include text-mg-regular;
  color: $neutral-800;
  padding: 0;
  margin: 8px 0 32px 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.near {
  display: flex;
  width: 136px;
  height: 136px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid $neutral-200;
  background: $neutral-50;
}

.icon {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00ec97;
  fill: #1b1b18;
}

.nearIcon {
  @include icon('@assets/icons/near-token.svg');
  background-color: #1b1b18;
  width: 24px;
  height: 24px;
}

@mixin text($color) {
  @include text-mg-medium;
  color: $color;
  padding: 0;
  margin: 0;
}

.text {
  @include text($accent-800);
}

.darkText {
  @include text($neutral-800);
}

.lightText {
  @include text-xs-regular;
  color: $neutral-600;
  padding: 0;
  margin: 0;
}

.radioBtn {
  padding: 8px 0;
}

.comingSoon {
  display: flex;
  width: 304px;
  height: 134px;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid $neutral-200;
  padding: 16px;
  background: url('@assets/comingSoon.svg');
}

.clock {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(73, 117, 97, 0.07);
}

.clockIcon {
  @include icon('@assets/icons/clock-circle-outline.svg');
  background-color: $accent-300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btnWrapper {
  display: flex;
  gap: 8px;
}
