.menuButton {
  display: flex;
  justify-content: center;
  width: 24px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  fill: var(--Color-Olive-300);
}

.menuButton:hover {
  .icon {
    fill: var(--Color-Olive-400);
  }
}

.active {
  fill: var(--Color-Olive-400);
}

.menuContainer {
  position: relative;
}
