@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title{
  @include text-lg-medium;
  color: $neutral-600;
  padding: 0;
  margin: 0;
}

.date{
  @include text-sm-regular;
  color: $neutral-600;
  padding: 0;
  margin: 4px 0 0 0;
}

.name {
  @include text-sm-medium;
  padding: 4px;
  border: none;
  outline: none;
}

.sideMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}


//.topbar {
//  height: 60px;
//  display: grid;
//  grid-template-columns: 54px auto 10px 20px 24px;
//  grid-template-rows: auto;
//  grid-template-areas: '. a . b .';
//  background: var(--Card-Bar);
//  border-top-right-radius: 15px;
//  border-top-left-radius: 15px;
//  color: var(--Text-Dark);
//}
//
//.name {
//  grid-area: a;
//  align-self: center;
//  text-align: center;
//  font-size: 15px;
//  font-style: normal;
//  font-weight: 600;
//  line-height: normal;
//  margin: 0;
//  display: -webkit-box;
//  overflow: hidden;
//  word-break: break-all;
//  text-overflow: ellipsis;
//  -webkit-line-clamp: 2;
//  -webkit-box-orient: vertical;
//}
//
//.sideMenu {
//  grid-area: b;
//  align-self: center;
//}
