@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.listWrapper {
  display: flex;
}

.list {
  min-width: 250px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: $neutral-50;
  transition: 250ms ease;
}

.resizer {
  height: 100%;
  width: 3px;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;
}

.resizerWrapper {
  width: 10px;
  height: 100%;
  cursor: col-resize;
  &:hover {
    .resizer {
      background-color: $neutral-600;
    }
  }
}

.topBar {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
  gap: 8px;
  width: 234px;
}

.border {
  width: calc(100% - 16px);
  border: none;
  height: 1px;
  margin: 0 8px;
  background-color: $neutral-200;
}

.tooltip {
  height: max-content;
}

.importBtn {
  width: 100%;
  border: none;
  gap: 8px;
  padding: 8px;
  display: flex;
  justify-content: start;
  background: none;
  align-items: center;
  border-radius: 8px;
  &:hover {
    background-color: $neutral-200;
    cursor: pointer;
    .title {
      color: $neutral-800;
    }
    .importIcon {
      background-color: $neutral-800;
    }
  }
}

.title {
  margin: 0;
  padding: 0;
  color: $neutral-600;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.transactionIcon {
  @include icon('@assets/icons/transaction-file-outline.svg');
  background: $neutral-600;
}

.importIcon {
  @include icon('@assets/icons/import-outline.svg');
  background: $neutral-600;
}
