@use 'frontend/ui/styles/variables.module' as *;
@use 'frontend/ui/styles/mixins.module' as *;

.transactionList {
  width: max-content;
  min-width: 240px;
  padding: 8px 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  background-color: $neutral-50;
}

.topBar {
  width: 224px;
  outline: none;
  border: none;
  gap: 8px;
  padding: 8px;
  display: flex;
  justify-content: start;
  background: none;
  align-items: center;
  border-radius: 8px;
  &:hover {
    background-color: $neutral-200;
    cursor: pointer;
    .title {
      color: $neutral-800;
    }
    .icon {
      fill: $neutral-800;
    }
  }
}

.title {
  margin: 0;
  padding: 0;
  color: $neutral-600;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.modalContainer {
  padding: 28px 32px 32px 32px;
  width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: var(--Box-Shadow-025);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--Border-Radius-3);
}

.wrapper {
  width: 100%;
  height: calc(100vh - 88px);
  overflow-y: auto;
  overflow-x: hidden;
}
