@use '@styles/mixins' as *;
@use '@styles/variables' as *;
@use '@styles/icons' as *;

.container {
  display: flex;
  flex-direction: column;
}

.border {
  width: 100%;
  height: 1px;
  border: none;
  background-color: $neutral-200;
  margin: 0;
}

.option{
  background: none;
  cursor: pointer;
  border: none;
  width: calc(100% - 8px);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  margin: 4px;
  border-width: 1px 0 0 0;
  border-radius: 4px;
  &:hover{
    background-color: $neutral-100;
  }
}

.title{
  @include text-sm-regular;
  color: $neutral-700;
}