.calls {
  grid-template-columns: max-content auto;
  grid-template-rows: calc(100vh - 48px);
  max-height: calc(100vh - 48px);
  grid-template-areas: 'a b';
  display: grid;
  width: 100%;
  transition: grid-template-columns 250ms ease;
}