@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.container {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px 0;
}

.label {
  @include text-sm-regular;
  align-content: center;
  color: $neutral-700;
}

.error {
  @include text-xs-regular;
  min-height: 10px;
  font-size: 10px;
  line-height: 10px;
  color: $red-600;
  opacity: 0;
  transition: opacity 0.25s ease;
  margin-top: 4px;
}

.dynamicErrorSpace {
  min-height: inherit;
  margin-top: 0;
}

.activeError {
  opacity: 1;
  margin-top: 4px;
}

