.container {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #438668;
  border-radius: 8px 0 0 8px;
  padding: 15px 0;
}
.wrapper {
  width: 100%;
  height: calc(100vh - 170px);
  overflow: auto;
}
.search {
  height: 40px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #d4ffeb;
  background-color: #438668;
  outline-width: 0;
}
.addTransactionButton {
  height: 30px;
  width: calc(100% - 10px);
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.addTransactionButton:hover {
  transform: scale(1.01);
}
