@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

@mixin tooltip($background-color, $text-color, $box-shadow: none) {
  border-radius: 8px !important;
  opacity: 1 !important;
  background-color: $background-color !important;
  font-size: 12px !important;
  color: $text-color !important;
  line-height: 14px !important;
  font-weight: 500 !important;
  text-align: center !important;
  width: auto !important;
  margin: 0 !important;
  box-shadow: $box-shadow !important;
  ::before {
    color: $background-color !important;
    box-shadow: $box-shadow !important;
  }
}

.tooltipBlack {
  @include tooltip($neutral-800, $neutral-00);
}

.tooltipWhite {
  @include tooltip(
    $neutral-00,
    $neutral-700,
    (0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03))
  );
}

.defaultStyle {
  display: flex;
  align-items: center;
}

.defaultIcon {
  display: flex;
  align-items: center;
  @include icon('@assets/icons/info-circle-linear.svg');
  height: 14px;
  width: 14px;
  background-color: $neutral-600;
  &:hover {
    background-color: $accent-600;
  }
}
