@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.rpc {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid $neutral-200;
  background: $neutral-00;
  gap: 8px;
}

.logo {
  height: 32px;
  width: 32px;
  user-select: none;
}

.nameUrl {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  @include text-sm-medium;
  color: $neutral-800;
}

.url {
  @include text-sm-regular;
  color: $neutral-600;
}
