@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.createSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.head {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 40px 0 24px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  height: calc(100vh - 232px);
}

@mixin text($color) {
  @include text-xlg-bold;
  padding: 0;
  margin: 0;
  color: $color;
  text-align: center;
}

.liteTitle {
  @include text($neutral-500);
  margin-bottom: 32px;
}

.title {
  @include text($neutral-800);
}

.wrapper{
  display: flex;
  align-items: start;
  gap: 8px;
}

@mixin badge($color) {
  width: 12px;
  height: 12px;
  background-color: $color;
  margin: 2px;
  border-radius: 2px;
}

.pink {
  @include badge(#f6337a);
}

.purple {
  @include badge(#7c4dff);
}

.indigo {
  @include badge(#3949ab);
}

.blue {
  @include badge(#1e88e5);
}

.teal {
  @include badge(#00897b);
}

.green {
  @include badge(#689f38);
}

.amber {
  @include badge(#f57c00);
}

.red {
  @include badge(#e61c19);
}

.brown {
  @include badge(#6d4c41);
}

.grey {
  @include badge(#616161);
}
