@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.radioButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioContainer {
  display: flex;
  input {
    opacity: 0;
    position: absolute;
  }
  input:checked + .customRadio {
    background: $accent-600;
    border-color: $accent-600;
    &::after {
      display: block;
    }
  }

  input:disabled:checked + .customRadio {
    background: $accent-100;
    border-color: $accent-100;
  }

  .customRadio {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border: 1px solid $neutral-300;
    border-radius: 50%;
    position: relative;

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      background: $neutral-50;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }
}

.focused {
  box-shadow: 0 0 0 4px $accent-100;
  border-color: $accent-600;
}

.disabled {
  background: $neutral-50;
  border-color: $neutral-300;
  &.customRadio {
    cursor: default;
  }
}

.enabledText {
  @include text-mg-regular;
  color: $neutral-700;
}

.disabledText {
  @include text-mg-regular;
  color: $neutral-400;
}
