.empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 450px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background: #ffffff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 50%;
  left: calc(50% + 135px);
  transform: translate(-50%, -50%);
  border-radius: 8px;
}
