@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 314px);
}

.icon {
  @include icon('@assets/icons/key-square-bold.svg');
  background-color: $accent-200;
  width: 80px;
  height: 80px;
}

.title {
  @include text-mg-medium;
  color: $neutral-500;
  padding: 0;
  margin: 24px 0 0 0;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
}

.border {
  margin: 24px 0;
  border: 1px solid $neutral-200;
  width: 100%;
  padding: 0;
}
