@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/icons' as *;

.modal {
  width: 680px;
  min-height: 400px;
  padding: 0;
  gap: 0;
  display: grid;
  grid-template-columns: 240px 440px;
  grid-template-rows: auto;
  grid-template-areas: 'a b';
}

.list {
  grid-area: a;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 16px 0 0 16px;
  gap: 2px;
  background-color: $neutral-50;
}

.content {
  grid-area: b;
  padding: 24px;
}

.seedPhraseIcon {
  @include icon('@assets/icons/password-seed-phrase-input-outline.svg');
  background-color: $neutral-600;
}

.seedPhraseOutlineIcon {
  @include icon('@assets/icons/password-seed-phrase-input-bold.svg');
  background-color: $accent-600;
}

.privateKeyIcon {
  @include icon('@assets/icons/key-outline.svg');
  background-color: $neutral-600;
}

.privateKeyOutlineIcon {
  @include icon('@assets/icons/key-bold.svg');
  background-color: $accent-600;
}

.ledgerIcon {
  @include icon('@assets/icons/ledger.svg');
  background-color: $neutral-600;
}
