@use '@styles/variables' as *;

.container {
  display: flex;
  align-items: center;
}

@mixin icon($color) {
  padding: 0;
  fill: $color;
  width: 16px;
  height: 16px;
}

.button {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  &:hover{
    .iconEnabled{
      @include icon($neutral-800);
    }
  }
}



.iconEnabled {
  @include icon($neutral-600);
}

.iconDisabled {
  @include icon($neutral-400);
}
