.btnClose {
    grid-area: b;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #B6C8C0;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.btnClose:hover {
    background-color: #7dd7b3;
}