.btnClose {
  grid-area: c;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.icon {
  font-size: 24px !important;
  color: rgba(211, 211, 211, 1) !important;
}

.icon:hover {
  color: rgba(211, 211, 211, 1) !important;
}
