.modal {
  width: 90vw;
  max-width: 1200px;
  height: 90vh;
  display: grid;
  grid-template-columns: 24px auto 24px;
  grid-template-rows:
    24px
    24px
    24px
    32px
    24px
    calc(90vh - 24px - 24px - 24px - 32px - 8px - 32px - 24px - 24px)
    8px
    32px
    24px;
  grid-template-areas:
    '. . .'
    '. a .'
    '. . .'
    '. b .'
    '. . .'
    '. c .'
    '. . .'
    '. d .'
    '. . .';
  padding: 0;
  gap: 0;
}

.headerContainer {
  grid-area: a;
}

.tabContainer {
  grid-area: b;
}


